<div
  class="card place-self-center mt-12 sm:mt-20 w-full md:min-w-80 max-w-3xl bg-gradient-to-r from-sky-200 to-sky-300 rounded-xl shadow-lg text-gray-700"
>
  <div class="card-body w-full">
    <div class="flex justify-between">
      <h2 class="card-title">{{ animal?.species }}</h2>
      <button class="text-xl" (click)="toggleDescription()">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
    </div>

    @if(!isEditing){
    <p>{{ animal?.description }}</p>
    } @if(isEditing){
    <form class="grow" [formGroup]="updateAnimalForm">
      <textarea
        id="species"
        class="w-full h-36 grow bg-white"
        placeholder="Enter a new description"
        formControlName="newDescription"
        rows="6"
      ></textarea>
    </form>
    } @if(animal){
    <div class="justify-center mx-auto">
      <a
        href="{{ animal.wiki }}"
        target="_blank"
        class="btn btn-primary justify-center rounded-md text-white font-semibold"
        >Read More</a
      >
    </div>
    }
  </div>
</div>
