<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <form [formGroup]="speciesForm" (ngSubmit)="onSubmit()" class="card-body">
        <div class="form-control">
          <label class="label">
            <span class="label-text">Species</span>
          </label>
          <input
            formControlName="species"
            type="email"
            placeholder="Add a new species"
            class="input input-bordered"
            required
          />
          <div class="text-red-500">
            Please enter a valid species (email format).
          </div>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">Fun Fact</span>
          </label>
          <input
            formControlName="funFact"
            type="text"
            placeholder="It better be a mammal!"
            class="input input-bordered"
            required
          />
          <div class="text-red-500">Fun fact is required.</div>
        </div>

        <div class="form-control mt-6">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
