<div
  class="card place-self-center mt-12 sm:mt-20 w-full bg-gradient-to-r from-green-200 to-green-300 rounded-xl shadow-lg"
>
  <p class="text-center text-lg text-gray-800 font-semibold m-4">
    James DiStefano is a software engineer with five years of experience
    building full stack applications.
  </p>
  <p class="text-center text-gray-700 m-4">
    You can connect with him on
    <a href="https://www.linkedin.com/in/james-distefano-b033aa154/">LinkedIn</a
    >.
  </p>
  <p class="text-center text-gray-700 m-4">
    Or check out his
    <a href="https://jamesdistef.github.io/homepage/">personal website</a>
    or
    <a href="https://github.com/JamesDiStef/">GitHub</a>
  </p>
</div>
