<div
  class="card place-self-center mt-20 w-1/2 bg-gradient-to-r from-pink-200 to-pink-300 rounded-xl shadow-lg"
>
  <p class="text-center text-xl text-gray-800 font-semibold m-4">
    Hey! Welcome to the Mammals of North America page
  </p>
  <p class="text-center text-gray-700 m-4">
    The front-end of the this page is an Angular application built with Tailwind
    and DaisyUI. The Angular code can be seen
    <a href="https://github.com/JamesDiStef/animals2">here</a>.
  </p>
  <p class="text-center text-gray-700 m-4">
    The backend is an Express JS application connected to a MongoBD database.
    The Express App is a private repository since it has some passwords, but its
    pretty similair to
    <a href="https://github.com/JamesDiStef/reddit-clone-express-backend"
      >this repo</a
    >.
  </p>
</div>
